<!-- /templates/my-form.html-->

<html>
    <head>
        <title>Flask Sample Input Form</title>
    </head>
    <body>
	<h3>CivicStats</h3>
        <form action="/form-handler" method="POST">
            <div>
	        	Example query: "SELECT * FROM actions;"
            </div>
            <div>
				Enter a postgreSQL command, terminated with a semicolon
				<input type="submit" name="query1" value="Total Points per Category">
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
